.service-container img{
  width: 100%;
}
.service-container p{
  margin: 0px;
  font-weight: 700;
  font-size: medium;
  text-align: start;
}
.service-container{
  position: relative;

}
.image-size{
  width: 300px;
  height: 100px;
}
.btn-service{
  position: absolute;
  bottom: 0;
  
}
